/* CreatePage.css */
.create-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 40px;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  overflow-y: auto;
}

.content {
  width: 100%; 
  max-width: 800px; 
  margin-left: 20px;
}

.create-page h2 {
  margin: 10px 0;
  font-size: 2.5rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: left; 
}

.kitchen-section h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #444;
  text-align: left; 
}

.kitchen-section p {
  font-size: 1.2rem;
  color: #555;
  margin: 10px 0;
  line-height: 1.5;
  text-align: left;
}

.image-buttons {
  display: flex;
  justify-content: flex-start; 
  gap: 15px;
  margin-top: 20px;
}

.image-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-button:hover {
  background-color: #80bdff;
  color: black;
}

label.image-button {
  display: inline-block;
  cursor: pointer;
}

ul {
  padding-left: 20px; 
  text-align: left;
}

pre {
  text-align: left;
  white-space: pre-wrap; 
}
